body{
background-color:black;
}
#name{
background-color:chartreuse;
border-radius:50px;
padding:1px;
cursor:default;
}
#name:hover{
text-shadow:1px 2px 5px red;
}
.marquee{
border-radius:10px 30px 10px 30px;
background-color:white;
color:red;
cursor:default;
}
.marquee:hover{
border-radius:50px;
background-color:yellow;
color:black;
}
.left{
align:center;
float:left;
background-color:grey;
height:500px;
width:150px;
padding:10px;
border-radius:10px 30px 10px 30px;
margin-left:10px;
box-shadow:-5px 5px 5px chartreuse;
}
.right{
align:center;
float:right;
background-color:grey;
height:500px;
width:150px;
padding:10px;
border-radius:30px 10px 30px 10px;
margin-right:10px;
box-shadow:5px 5px 5px chartreuse;
}
#center{
background-color:white;
width:100%;
height:510px;
border-radius:10px;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:30px;
margin-button:0px;
overflow:scroll;
}
#cen{
background-color:white;
width:100%;
height:310px;
border-radius:10px;
margin-left:auto;
margin-right:auto;
display:block;
margin-top:20px;
overflow:auto;
}
#btm{
background-color:chartreuse;
border-radius:50px;
align:center;
display:block;

margin-left:auto;
margin-right:auto;
margin-buttom:0px;
margin-top:20px;

}
#btm:hover{
color:red;
}
#nav{
color:red;
display:block;
margin-left:auto;
margin-right:auto;
margin-buttom:0px;
margin-top:0px;
height:30px;
background-color:white;
}
#nav-name{
background-color:white;
color:red;
cursor:pointer;
}
#nav-name:hover{
background-color:white;
color:black;
box-shadow:1px 5px 5px grey;
}
#nav-name:active{
opacity:0.1;
color:black;
cursor:progress;
}
#menu-left
{
overflow:hidden;
float:left;
background-color:grey;
border-radius:50px;
width:25%;
height:240px;
display:block;
margin-left:50px;
box-shadow:-5px 9px 5px chartreuse;
}
#menu-center
{
overflow:hidden;
float:right;
background-color:grey;
border-radius:50px;
width:25%;
height:240px;
display:block;
margin-right:50px;
box-shadow:5px 9px 5px chartreuse;
}
#menu-right
{
overflow:hidden;
float:center;
background-color:grey;
border-radius:50px;
width:25%;
height:240px;
display:block;
box-shadow:0px 9px 5px chartreuse;
}
#menu-left:hover
{
box-shadow:-5px 9px 10px black;
}
#menu-center:hover
{
box-shadow:5px 9px 5px black;
}
#menu-right:hover
{
box-shadow:5px 9px 5px black;
}
#poto
{
border:solid chartreuse;
margin:1px;
border-radius:20px;
padding:1px;
width:40%;
height:200px;
transition-duration:1s;
}
#poto:hover
{
transform:rotateY(180deg);
}
#use{
float:right;
color:white;}